
@{
    ViewBag.Title = "Partners";
}
<h2 class="naslov-partneri">@ViewBag.Title</h2>
<br />
<div class="partneri">
    <a href="https://www.amd.com/en"><p class="partneri-text">AMD</p></a>
    <img src="https://seeklogo.com/images/A/amd-logo-427958DBFB-seeklogo.com.png" class="partneri-slike">
    <a href="https://www.asus.com/rs/"><p class="partneri-text">ASUS</p></a>
    <img src="https://filestore.community.support.microsoft.com/api/images/1a533a87-1275-432d-8df3-01adc95bb6b7?upload=true" class="partneri-slike">
</div>

