
@{
    ViewBag.Title = "Product";
}

<h1 class="velikinaslov">@ViewBag.GPU.naziv</h1>
<img src="@ViewBag.GPU.slika" class="slikaproduct" />
<h1 class="cena">Price: @ViewBag.GPU.cena</h1>
<div class="textdiv">
    <p>@ViewBag.GPU.opis</p>
    <button class="naruci1">BUY NOW</button>
</div>
